
.header .menu{
    line-height: 84px;
    z-index: 9999; 
    position: fixed;
    width: 100%;
    top: 0px;
}

.bg-blue{
    background-color: #2F3B49;
}

.navbar-brand img{
    width: 100px;
}

/* banner */
.banner{
    background-color: rgba(97, 105, 120, 1);
    height: 330px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    position: relative;
}

/* 引言 */
.preface{
    background-color: rgba(97, 105, 120, 1);
    height: 550px;
    color: white;
    font-weight: 500;
    font-size: 26px;
    font-family: DFKai-sb;
    letter-spacing: 3px;
    position: relative;
}
.preface01{
    position: absolute;
    left: 250px;
    top: 70px;
    text-shadow: 0 0 10px #F4F4F4,0 0 20px #F4F4F4;
} 
.preface02{
    position: absolute;
    left: 320px;
    top: 130px;
    text-shadow: 0 0 10px #F4F4F4,0 0 20px #F4F4F4;
} 
.preface03{
    position: absolute;
    right: 300px;
    top: 225px;
    text-shadow: 0 0 10px #F4F4F4,0 0 20px #F4F4F4,0 0 30px #F4F4F4;
} 

/* .rule{
    color: rgb(39, 26, 36);
    font-size: 22px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    position: absolute;
    left: 50px;
    top: 380px;
} */

/* 塔羅
.tarot{
    background-color: rgba(97, 105, 120, 1);
    height: 400px;
} */

/* 介紹 */
.productIntroduction{
    background-color: rgba(97, 105, 120, 1);
    height: 550px;
}
.productPhoto{
    background: url(../img/tarot-introduction.png) center center no-repeat;
    background-size: contain;
    height: 300px;
    margin-top: 80px;
}
.productText{
    color: rgb(44, 32, 49);
    font-size: 18px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    text-align: center;
}

.logoIntroduction{
    background-color: rgba(97, 105, 120, 1);
    height: 550px;
}

.logoText {
    color: rgb(36, 46, 33);
    font-size: 26px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    text-align: center;
}
.logoText p{
    margin-bottom: 0px;
}

.logoPhoto{
    background: url(../img/team-introduction.png) center center no-repeat;
    background-size: contain;
    height: 350px;
    margin-top: 80px;
}

.packageIntroduction{
    background-color: rgba(97, 105, 120, 1);
    height: 550px;
}
.packagePhoto{
    background: url(../img/team-introduction.png) center center no-repeat;
    background-size: contain;
    height: 350px;
    margin-top: 80px;
}

.packageText {
    color: rgb(44, 32, 49);
    font-size: 26px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    text-align: center;
}
.packageText p{
    margin-bottom: 0px;
}

.perfumeIntroduction{
    background-color: rgba(97, 105, 120, 1);
    height: 550px;
}
.perfumePhoto{
    background: url(../img/team-introduction.png) center center no-repeat;
    background-size: contain;
    height: 350px;
    margin-top: 80px;
}

.perfumeText {
    color: rgb(36, 46, 33);
    font-size: 26px;
    white-space: pre;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    text-align: center;
}
.perfumeText p{
    margin-bottom: 0px;
}



/* 回頂端按鈕 */
.toTopBtn{
    display: block;
    position: fixed;
    cursor: pointer;
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    background: #dad0a7;
    color: rgb(255, 255, 255);
    font-size: x-large;
    z-index: 9999;
    box-shadow: 2px 2px 10px #f7ed94;
    border-radius: 5px;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    transform: translateY(0%);
    transition: all 0.2s linear;
}
.toTopBtn:hover{
    opacity: 0.9;
    filter: Alpha(opacity=90);
} 

.toTopBtn.hide{
    opacity: 0;
    filter: Alpha(opacity=0);
    transform: translateY(150%);
}

.toTopBtn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.footer{
    background-color: #2F3B49;
    color: #F4F4F4;
    height: 300px;
    padding: 50px 30px 0;
    font-size: 18px;
}


/* 響應式 RWD 
--------------------------*/
@media (min-width:1681px) and (max-width:1920px) {

}

@media (min-width:1550px) and (max-width:1680px) {

}

@media (min-width:1300px) and (max-width:1549.9px) {

}

@media (min-width:1200px) and (max-width:1299.9px) {

}

@media (min-width:992px) and (max-width:1199.9px) {

}

@media (min-width:768px) and (max-width:991px) {
     /* top */
     .navbar{
        font-size: 36px;
    }
    .navbar .dropdown-item{
        font-size: 32px;
    }
    .navbar-brand img {
        width: 200px;
    }
    .navbar-toggler {
        padding: 8px 10px;
        font-size: 36px;
    }
    .banner {
        height: 148px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }
    
  
    /* 介紹  */
    .phone{
        flex-direction: column-reverse;
    }

    .preface {
        height: 550px;
        font-size: 32px;
    }
    .preface01{
        left: 25px;
        top: 200px;
    }
    .preface02{
        left: 35px;
        top: 280px;
    }
    .preface03{
        right: 20px;
        top: 380px;
    }

    .productIntroduction{
        height: 1300px;
    }
    .productText{
        font-size: 30px;
    }
    .productPhoto {
        height: 450px;
    }

    .logoIntroduction{
        height: 1300px;
    }
    .logoText{
        font-size: 30px;
    }
    .logoPhoto {
        height: 450px;
    }

    .packageIntroduction{
        height: 1300px;
    }
    .packageText{
        font-size: 30px;
    }
    .packagePhoto {
        height: 450px;
    }

    .perfumeIntroduction{
        height: 1500px;
    }
    .perfumeText{
        font-size: 30px;
    }
    .perfumePhoto {
        height: 450px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 60px;
        height: 60px;
        font-size: 32px;
    }

    /* 底部 */
    .footer{
        height: 300px;
        padding: 25px 30px 0;
        font-size: 26px;
    }
}

@media (min-width:576px) and (max-width:767.9px) {
    /* top */
    .navbar{
        font-size: 30px;
    }
    .navbar .dropdown-item {
        font-size: 24px;
    }
    .navbar-brand img {
        width: 130px;
    }
    .navbar-toggler {
        padding: 8px 10px;
        font-size: 30px;
    }
    
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 3px;
        position: relative;
    }
    
  
    /* 介紹  */
    .phone{
        flex-direction: column-reverse;
    }

    .preface {
        height: 550px;
        font-size: 32px;
    }
    .preface01{
        left: 25px;
        top: 50px;
    }
    .preface02{
        left: 35px;
        top: 130px;
    }
    .preface03{
        right: 20px;
        top: 230px;
    }

    .productIntroduction{
        height: 1300px;
    }
    .productText{
        font-size: 30px;
    }
    .productPhoto {
        height: 450px;
    }

    .logoIntroduction{
        height: 1300px;
    }
    .logoText{
        font-size: 30px;
    }
    .logoPhoto {
        height: 450px;
    }

    .packageIntroduction{
        height: 1300px;
    }
    .packageText{
        font-size: 30px;
    }
    .packagePhoto {
        height: 450px;
    }

    .perfumeIntroduction{
        height: 1500px;
    }
    .perfumeText{
        font-size: 30px;
    }
    .perfumePhoto {
        height: 450px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 60px;
        height: 60px;
        font-size: 32px;
    }

    /* 底部 */
    .footer{
        height: 300px;
        padding: 25px 30px 0;
        font-size: 26px;
    }
}

@media (min-width:376px) and (max-width:575.9px) {
    /* top */
    .navbar{
        font-size: 18px;
    }
    .navbar .dropdown-item{
        font-size: 16px;
    }
    .navbar-brand img {
        width: 80px;
        margin-left: 10px;
    }
    .navbar-toggler {
        padding: 5px 7px;
        font-size: 20px;
    }
    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }
    .banner {
        height: 97px;
    }
    
    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 16px 8px;
    }

    /* 介紹  */
    .phone{
        flex-direction: column-reverse;
    }

    .preface {
        height: 250px;
        font-size: 20px;
    }
    .preface01{
        left: 25px;
        top: 90px;
    }
    .preface02{
        left: 35px;
        top: 120px;
    }
    .preface03{
        right: 20px;
        top: 170px;
    }

    .productIntroduction{
        height: 800px;
    }
    .productText{
        font-size: 18px;
    }
    .productPhoto {
        height: 250px;
    }

    .logoIntroduction{
        height: 800px;
    }
    .logoText{
        font-size: 18px;
    }
    .logoPhoto {
        height: 250px;
    }

    .packageIntroduction{
        height: 800px;
    }
    .packageText{
        font-size: 18px;
    }
    .packagePhoto {
        height: 250px;
    }

    .perfumeIntroduction{
        height: 1000px;
    }
    .perfumeText{
        font-size: 18px;
    }
    .perfumePhoto {
        height: 250px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 45px;
        height: 45px;
    }

    /* 底部 */
    .footer{
        height: 250px;
        padding: 25px 30px 0;
        font-size: 16px;
    }

}

@media (min-width:321px) and (max-width:375.9px) {
 /* top */
 .navbar{
    font-size: 15px;
}
.navbar .dropdown-item{
    font-size: 13px;
}
.navbar-brand img {
    width: 55px;
    margin-left: 10px;
}
.navbar-toggler {
    padding: 5px 7px;
    font-size: 15px;
}
.navbar-toggler-icon {
    width: 15px;
    height: 15px;
}
.banner {
    height: 82px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 16px 8px;
}

/* 介紹  */
.phone{
    flex-direction: column-reverse;
}

.preface {
    height: 200px;
    font-size: 14px;
}
.preface01{
    left: 25px;
    top: 70px;
}
.preface02{
    left: 35px;
    top: 100px;
}
.preface03{
    right: 20px;
    top: 150px;
}

.productIntroduction{
    height: 650px;
}
.productText{
    font-size: 14px;
}
.productPhoto {
    height: 200px;
}

.logoIntroduction{
    height: 650px;
}
.logoText{
    font-size: 14px;
}
.logoPhoto {
    height: 200px;
}

.packageIntroduction{
    height: 650px;
}
.packageText{
    font-size: 14px;
}
.packagePhoto {
    height: 200px;
}

.perfumeIntroduction{
    height: 750px;
}
.perfumeText{
    font-size: 14px;
}
.perfumePhoto {
    height: 200px;
}

/* 回頂端按鈕 */
.toTopBtn{
    width: 40px;
    height: 40px;
}

/* 底部 */
.footer{
    height: 200px;
    padding: 25px 30px 0;
    font-size: 10px;
}
}

@media (min-width:0px) and (max-width:321px) {
    /* top */
    .navbar{
        font-size: 14px;
    }
    .navbar .dropdown-item{
        font-size: 10px;
    }
    .navbar-brand img {
        width: 40px;
        margin-left: 10px;
    }
    .navbar-toggler {
        padding: 5px 7px;
        font-size: 15px;
    }
    .navbar-toggler-icon {
        width: 15px;
        height: 15px;
    }
    .banner {
        height: 82px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 5px;
        height: 5px;
        margin: 3px 5px;
    }

    /* 介紹  */
    .phone{
        flex-direction: column-reverse;
    }

    .preface {
        height: 200px;
        font-size: 10px;
    }
    .preface01{
        left: 25px;
        top: 70px;
    }
    .preface02{
        left: 35px;
        top: 100px;
    }
    .preface03{
        right: 20px;
        top: 150px;
    }

    .productText{
        font-size: 10px;
    }
    .productPhoto {
        height: 150px;
    }
    
    .logoIntroduction{
        height: 400px;
    }
    .logoText{
        font-size: 10px;
    }
    .logoPhoto {
        height: 150px;
    }

    .packageIntroduction{
        height: 400px;
    }
    .packageText{
        font-size: 10px;
    }
    .packagePhoto {
        height: 150px;
    }

    .perfumeIntroduction{
        height: 500px;
    }
    .perfumeText{
        font-size: 10px;
    }
    .perfumePhoto {
        height: 150px;
    }

    /* 回頂端按鈕 */
    .toTopBtn{
        width: 40px;
        height: 40px;
    }

    /* 底部 */
    .footer{
        height: 200px;
        padding: 25px 30px 0;
        font-size: 10px;
    }
        

}